[Unit]
Description=Unlock ZFS Datasets
Documentation=man:zfs-load-key(8)
RequiresMountsFor=/etc/cryptsetup-keys.d
After=zfs-import.target
Before=zfs-mount.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecCondition=/bin/sh -c '/usr/sbin/zfs get -H -t filesystem,volume -o value keystatus | /usr/bin/grep -qx unavailable'
ExecStart=/usr/sbin/zfs load-key -a
RemainAfterExit=yes

[Install]
WantedBy=zfs-mount.service
